body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.bingo-card {
  background-color: MediumAquaMarine;
  border-radius: 3px;
  padding: 1rem;
  width: 90%;
  max-width: 500px;
}

.header {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 6rem);
}

.header .letter:not(.highlight) {
  -webkit-text-stroke: 0;
}

@keyframes bingo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1);
  }
}

.header.celebrate .letter {
  animation: bingo 600ms;
}

.header.celebrate .letter:nth-child(2) {
  animation-delay: 100ms;
}

.header.celebrate .letter:nth-child(3) {
  animation-delay: 200ms;
}

.header.celebrate .letter:nth-child(4) {
  animation-delay: 300ms;
}

.header.celebrate .letter:nth-child(5) {
  animation-delay: 400ms;
}

.board {
  background-color: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 4rem);
}

.tile {
  font-size: 100%;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.tile:not(.responsive-font) {
  font-size: 1.75rem;
}

.letter,
.tile {
  position: relative;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  -webkit-text-stroke: 3px #333;
  color: white;
}

.tile.free {
  line-height: 0;
  text-transform: uppercase;
}

.free input[type="checkbox"]:checked + .checkbox::after {
  content: "";
  background: url("./assets/hat2.png") no-repeat;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
  left: 3px;
  top: -33px;
  position: absolute;
}

.responsive-font {
  font-size: 100%;
}

.tile-input {
  opacity: 0;
  position: absolute;
  height: 90%;
  width: 90%;
  z-index: 10;
}

.tile-input:hover {
  cursor: pointer;
}

.tile:not(.free) .tile-input:checked + .checkbox {
  background-color: rgba(102, 221, 170, 0.6);
}

.checkbox {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }

  .header {
    font-size: 4rem;
  }

  .free {
    font-size: 1.25rem;
  }

  .bingo-card {
    padding: 1rem 2rem 2rem 2rem;
  }

  .board {
    grid-template-rows: repeat(5, 6rem);
  }

  .checkbox {
    height: 5rem;
    width: 5rem;
  }
}
